<!DOCTYPE html>
<html lang="en">
<head>
	<title>MACrawler --- Malware Analysis Crawler</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1 align="center">Detailed Results</h1>

		<p><strong>Scan ID:</strong> {{ scan_id }}</p>
		<p><strong>Domain Found Under:</strong> {{ domain_name }}</p>

		<input type="button" class="btn btn-default" value="Back" onclick="window.history.back()" />
	</div>

	<div class="row">
		<div class="col-md-12">
			<h2><strong>Antivirus Scan Results</strong></h2>
			{% if scans == 'Safe' %}
				<p>VirusTotal did not detect any malware in this file.</p>
			{% else %}
				<table class="table">
					<colgroup span="3"></colgroup>

					<!-- Table Headers -->
					<tr>
						<th col-md-6>Antivirus</th>
						<th col-md-6>Scan Result</th>
					</tr>

					<!-- Table Headers -->
					{% for av_name, av_details in scans.items() %}
						<tr>
							<td class="col-md-6" style ="word-break:break-all;">{{ av_name }}</td>


							<td class="col-md-6" style ="word-break:break-all;">{{ av_details.result }}</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
		</div>
	</div>


</div>
</body>
</html>