<!DOCTYPE html>
<html lang="en">
<head>
	<title>MACrawler --- Malware Analysis Crawler</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 align="center">Search Results</h1>

			<p><strong>Domain Name:</strong> {{ domain_name }}</p>
			<p><strong>Number of Files Found In Domain:</strong> {{ num_of_files }}</p>

			<form class="form-inline" action="{{ url_for('index') }}" method="GET">
				<button type="submit" class="btn btn-default">Return to Search Page</button>
			</form>		
		</div>

		<div>
			{# Only display the file list if there is at least one file found in the domain #}
			{% if search_results %}
				<h2>File List</h2>
				<table class="table">
					<colgroup span="3"></colgroup>
					
					<!-- Table Headers -->
					<tr>
						<th>Scan ID</th>
						<th>URL</th>
						<th>Scan Status</th>
					</tr>

					<tr>
						{% for scan_result in scan_results %}
							<td><a href="{{ url_for('detailed', scan_id=scan_result.scanID, scans=scan_result.scans) }}">{{ scan_result.scanID }}</a></td>
							<td>{{ scan_result.url }}</td>
							{% if scan_result.status == 1 %}
								<td>Complete</td>
							{% elif scan_result.status == -2 %}
								<td>Pending result from VirusTotal</td>
							{% endif %}
						{% endfor %}
					</tr>
				</table>
			{% endif %}
		</div>

	</div>
</body>
</html>










